#wrapper {
	height: 100%;
}
a {
	color: white;
	font-weight: bold;
}

a:hover{
	color: #1fa7a3;
}
body {
	height: 100%;
}
.doodle {
	border-radius: 35px;
	margin-top: 5px;
}

footer{
	background-color: #e1704b;
	position: fixed;
	bottom: 0;
	color: white;
	text-align: center;
	border-bottom: solid #d56540 20px;
	width:100%;
	padding: 1%;
}

footer h2, footer h3{
	color: white;
}

h1{
	font-size: 75px;
}

h3 {
	color: #d56540;
}

h1,h2,h3{
	margin: 0;
	margin-bottom: 10px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

ul {
	padding-left: 5%;
}
iframe {
	border: solid #eee 15px;
	border-radius: 10px;
}
#banner{
	background-color: #f1f1f1;
	margin-bottom: 2%;
}